<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>My Web Page</h1>

    <div id="search">
        <form>
            <label for="uname">Search user:</label>
            <input type="text" id="uname" name="uname">
        </form>
    </div>

    <div id="barchart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
    </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
          var data = google.visualization.arrayToDataTable({{data}});
          var options = {'title':"{{title}}", 'width':550, 'height':400};
          var chart = new google.visualization.BarChart(document.getElementById('barchart'));
          chart.draw(data, options);
        }
    </script>

</body>
</html>