<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Github Commit Visualiser</h1>

    <div id="search">
        <form>
            <label for="uname">Search user:</label>
            <input type="text" id="uname" name="uname">
        </form>
    </div>

    <div id="barchart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
    </script>

    {% if data %}
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
          var data = google.visualization.arrayToDataTable(
            [ ["Repository", "Commits"],
              {% for key, value in data.items() %}
              ["{{key}}", {{value}}],
              {% endfor %}
            ]);
          var options = {'title':"{{title}}", 'width':1200, 'height':800};
          var chart = new google.visualization.BarChart(document.getElementById('barchart'));
          chart.draw(data, options);
        }
    </script>
    {% endif %}

</body>
</html>